-- Generate interactions data for VN Map Campaign
INSERT INTO interactions (campaign_id, event_id, employee_id, school_uid, participant_type, participant_id, channel, outcome, note)
SELECT e.campaign_id, e.id, 1, s.school_uid, 'STUDENT', 1, 'VISIT', 'SUCCESS', 'Sample interaction'
FROM campaign_events e
CROSS JOIN LATERAL (SELECT school_uid FROM schools WHERE province_code = e.province_code ORDER BY random() LIMIT 1) s
LIMIT 60
ON CONFLICT DO NOTHING;

SELECT 'Interactions: ' || COUNT(*) AS status FROM interactions;
