--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administrative_units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administrative_units (
    id integer NOT NULL,
    name character varying(255),
    code character varying(50),
    level character varying(20),
    parent_id bigint,
    boundary public.geometry(Geometry,4326),
    centroid public.geometry(Point,4326),
    area_km2 numeric(10,2),
    population bigint,
    density numeric(10,2),
    capital character varying(100),
    address text,
    phone character varying(50),
    decree character varying(255),
    decree_url text,
    macro_region character varying(100),
    n_predecessors integer
);


ALTER TABLE public.administrative_units OWNER TO postgres;

--
-- Name: administrative_units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.administrative_units_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.administrative_units_id_seq OWNER TO postgres;

--
-- Name: administrative_units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.administrative_units_id_seq OWNED BY public.administrative_units.id;


--
-- Name: administrative_units id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrative_units ALTER COLUMN id SET DEFAULT nextval('public.administrative_units_id_seq'::regclass);


--
-- Data for Name: administrative_units; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: administrative_units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.administrative_units_id_seq', 12076, true);


--
-- Name: administrative_units administrative_units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrative_units
    ADD CONSTRAINT administrative_units_pkey PRIMARY KEY (id);


--
-- Name: idx_boundary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_boundary ON public.administrative_units USING gist (boundary);


--
-- Name: idx_centroid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_centroid ON public.administrative_units USING gist (centroid);


--
-- Name: idx_unit_macro_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_unit_macro_region ON public.administrative_units USING btree (macro_region);


--
-- PostgreSQL database dump complete
--

